<%= turbo_frame_tag tweet do%>
  <div id="<%= dom_id tweet %>" class="card">
    <p>Body:<%= tweet.body %></p>
    <p>Likes (<%= tweet.likes_count %>)</p>
    <p>Retweets (<%= tweet.retweets_count %>)</p>
    <%= button_to "X", tweet_path(tweet), method: :delete %>
  </div>
<% end %>