<p style="color: green"><%= notice %></p>

<h1>Add a tweet</h1>

<%# After wrapping with turbo frame, it submits the form using ajax for us. It also expects a turbo_stream response %>
<%= turbo_frame_tag 'tweet_form' do %>
  <%= render 'tweets/form', tweet: @tweet %>
<% end %>

<h1>Tweets</h1>

<%= turbo_stream_from 'tweets' %>

<%= turbo_frame_tag 'tweets' do %>
  <%= render @tweets %>
<% end %>
